/* my style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.nav-panel {
  height: 75px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(16, 70, 0, 0.507);
  color: #fff;
  /* margin-bottom: 50px; */
}
.nav-panel a {
  margin-right: 80px;
}
.nav-panel a:link {
  color: #fff;
  text-decoration: none;
}
.nav-panel a:visited {
  color: #fff;
}
.nav-panel a:hover {
  color: #fff;
}
.nav-panel a:active {
  color: rgba(205, 228, 74, 0);
}

.head-1 {
  width: 640px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 200px; */
  margin-top: 50px;
}

.head-2 {
  position: relative;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 640px;
  /* height: 200px; */
  margin-top: 90px;
}

.name {
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
}

.underline {
  position: absolute;
  top: 25px;
  font-size: 25px;
  color: #006400;
}

.junior {
  font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

.my-image {
  height: 200px;
  border-radius: 100%;
}

header {
  height: 300px;
  border-bottom: solid #6e5d2e2c 12px;
}
